.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.game-content {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.game-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/474x/6e/05/f0/6e05f04fd5d86db1d6fb841b4c5833a8.jpg'); /* Adjust the path */
    background-size: cover;
    background-position: center;
}